.embla__wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
}

.embla {
  position: relative;
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 40px;
  max-width: 415px;

  margin: 0px 35px;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  padding-left: 10px;
  min-width: 100%;
  position: relative;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 190px;
  width: 100%;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: fit-content;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);

  height: 100%;
  object-fit: contain;
}

.embla--thumb {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -12px;
}

.embla__container--thumb {
  cursor: default;
  margin-left: -8px;
}

.embla__slide--thumb {
  padding-left: 16px;
  min-width: 100px;
}

.embla__slide__inner--thumb {
  touch-action: manipulation;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  position: relative;
  display: block;
  overflow: hidden;
}

.embla__slide__thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10000%;
  right: -10000%;
  margin: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  transform: scale(0.1);

  width: fit-content;
  object-fit: contain;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #028ad9;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.5;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: -35px;
}

.embla__button--next {
  right: -35px;
}
